.navigate-menu{
  position: fixed;
  left: 0;
  width: 80px;
  min-height: 100%;
  height: max-content;
  background: #1b1d29;
  &__logo{
    margin: 20px 22px 44px 18px;
    cursor: pointer;
  }
  &__icon{
    margin: 14px 18px;
    padding: 10px;
    cursor: pointer;
  }
}
